body { 
    font-family: sans-serif; 
    background: #dddfec; }
a, h1, h2 { 
    color: #377ba8; }
h1, h2, h3{ 
    font-family: 'Georgia', serif; 
    margin: 0; }
h1 { 
    border-bottom: 2px solid #eee; }
h2 { 
    font-size: 1.2em; }
h3 {
    font-size: 1.0em;
}
.page { 
    margin: 2em auto; 
    width: 35em; 
    border: 5px solid #eee;
    padding: 0.8em; background: white; }
.devices {
    margin: 5px 10px;
}
.devices ul {
    height: auto;
}
.devices ul li {  
    width: 25em; 
    margin: 2px;
    float:left;  
    list-style:none;
    border: 2px solid aliceblue; 
}
.btn-remove-device { 
    float:right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.add-device { 
    font-size: 0.9em; 
    border-bottom: 1px solid #ccc; }
.add-device dl { 
    font-weight: bold; }

.metanav { 
    text-align: right; 
    font-size: 0.8em; 
    padding: 0.3em;
    margin-bottom: 1em; background: #fafafa; }
.flash { 
    background: #cee5F5; 
    padding: 0.1em;
    border: 1px solid #aacbe2; }
.error { 
    background: #f0d6d6; 
    padding: 0.5em; }