{% extends "layout.html" %}

{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_device') }}" method=post class=add-device>
      <dl>
        <dt>Name:
        <dd><input type=text size=30 name=name>
        <dt>Desc:
        <dd><textarea name=desc rows=1 cols=40></textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  {% endif %}
  <div class=devices>
    <ul>
    {% for device in devices %}
      <div class=device>
      <li><h3>ID: {{ device.id }} Name: {{ device.name }} Desc: {{ device.desc|safe }}</h3>
        <form action="{{ url_for('remove_device') }}" method=post class=remove-device></li>
      <div class="btn-remove-device">
        <button name="id" value="{{device.id}}" type="submit">X</button>
      </div>  
    {% else %}
      <li><em>No devices added so far</em>
      </div>
    {% endfor %}
    </ul>
    <div class="clearfix">
  </div>
  
{% endblock %}